* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-one {
    background-color: #1f2937;
    padding: 20px 150px;
    color: white;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

li#logo {
    margin-right: auto;
}

li#logo {
    font-size: 24px;
    color: #f9FAF8;
}

.nav li {
    list-style: none;
    color: #e5e7eb;
    font-size: 14px;
}

.atm {
    color: #bfbfbc;
    font-size: 14px;
}

.main-title h1 {
    font-size: 28px;
    font-weight: 900;
    color: #F9FAF8;
}

.main-title {
    padding-top: 80px ;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.head-title {
    flex: 1;
}

.main-title p {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 18px;
}

.place-holder {
    padding: 80px;
    background-color: gray;
    border-radius: 10px;
}

.main-title button {
    background-color: #3882F6;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    border: none;
}

/* Section Two */
.section-two {
    padding: 60px 150px;
    text-align: center;
}

.section-two h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding-bottom: 40px;
}

.box-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card-cover {
    max-width: 150px;
}

.card {
    border: 4px solid #3882f6;
    border-radius: 5px;
    width: 150px;
    height: 150px;
}

.box-cards p {
    padding: 10px;
    font-size: 12px;
}

/* Section Three */
.section-three {
    background-color: #E5E7EB;
    padding: 80px 150px;
}

.quote {
    font-size:24px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.author {
    text-align: right;
    padding-top: 8px;
    font-weight: bold;
    font-style: normal;
}

/* Section Four */
.section-four {
    padding: 80px 150px;
}

.action {
    display: flex;
    background-color: #3882F6;
    color: white;
    padding:40px 80px ;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
}

.action h4 {
    font-size: 24px;
}

.action button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 8px 30px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.footer {
    text-align: center;
    padding: 30px;
    background-color: #1f2937;
    color: white;
    font-size: 14px;
}



