 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
 }

body {
    line-height: 1.5;
}

/* Section one */
.section-one {
    background-color: #1f2937;
    color: white;
    padding: 20px 150px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-section li {
    text-decoration: none;
    list-style: none;
    color: #e5e7eb;
    font-size: 14px;
}

.nav-section .logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

/* Hero section */
.section-one-sub {
    background-color: #1f2937;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.head-title {
    flex: 1;
}

.head-title h1 {
    font-size: 48px;
    font-weight: 800;
}

.head-title p {
    color: #e5e7eb;
    margin: 5px 0 20px;
    font-size: 18px;
}

.head-title button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.placeholder p {
    flex: 1;
    background-color: #6b7280;
    height: 250px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#e5e7eb ;
}

/* Section two */
.section-two {
    padding: 60px 150px;
    text-align: center;
}

.section-two h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.empty-boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.box {
    max-width: 150px;
}

.box-card {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 12px;
    margin-bottom: 10px;
}

.box p {
    font-size: 14px;
    color: #4b5563;

}


/* Section Three */
.quote {
    background-color: #e5e7eb;
    padding: 80px 150px;
    font-style: italic;
    font-size: 24px;
    color: #1f2937;
}

.author {
    text-align: right;
    margin-top: 20px;
    font-weight: bold;
    font-style: normal;
}


/* Section Four */
.section-four {
    padding: 80px 150px;
}

.action-box {
    background-color: #3882f6;
    color: white;
    padding: 40px 80px; 
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-box h4 {
    font-size: 24px;
}

.action-box p {
    color: #e5e7eb;
}

.section-four button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 8px 30px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}


/* Footer section */
.footer {
    background-color: #1f2937;
    color: white;
    text-align: center; 
    padding: 30px;
    font-size: 14px;
}
